.pricesContainer {
    min-height: 836px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.priceCardField {
    max-width: 850px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}