.trialContainer {
    padding: 10px 0;
    min-height: 336px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    background-color: #f5fcfd;
}

.trialTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 162px;
}

.trialHeader {
    font-family: Quicksand, serif;
    font-size: 32px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    margin-bottom: 24px;
}

.trialText {
    font-family: Quicksand, serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: left;
    color: #929292;
}

.trialButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: none;
}

.trialButton {
    height: 76px;
    width: 263px;
    background-color: #0f7bff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Quicksand, serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    color: #ffffff;
}