.article1Container {
    min-height: 635px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f5fcfd;
}

.article1Container div {
    margin: auto 15px;
    position: relative;
}

.card1Container,
.card3Container{
    top: -7.5px
}

.card2Container{
    top: 42.5px
}

@media screen and (max-width: 1260px) {
    .card1Container,
    .card2Container,
    .card3Container {
        top: 0
    }
}


