.newsContainer {
    min-height: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.newsContentContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 47px
}
.bigNewsContainer {
    margin: 0 15px 30px 15px;
}

.smallNewsContainer {
    margin: 0 15px 30px 15px;
}