.newsContainer {
    min-height: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsContentContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 47px
}