.subscribeContainer {
    padding: 10px 0;
    min-height: 387px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #0f7bff;
}

.subscribeForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribeLabel {
    font-family: Quicksand, serif;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.67;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-bottom: 33px;
}

.subscribeInputContainer {
    max-width: 557px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px
}

.subscribeInput {
    max-width: 392px;
    width: 100%;
    height: 60px;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
    border: 2px solid white;
    background-color: #0f7bff;
    font-family: Quicksand, serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-left: 15px;
}

.subscribeInput::placeholder {
    font-family: Quicksand, serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.subscribeSubmit {
    border: 2px solid white;
    background-color: white;
    max-width: 165px;
    width: 100%;
    height: 60px;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 60px;
    font-family: Quicksand, serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: center;
    color: #0f7bff;
}