.header {
    min-height: 1043px;
    background-image: url("./img/header-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navBarContainer {
    margin-top: 0;
    padding: 0 8px;
}

.headerCardContainer {
    padding-top: 106px;
}

@media screen and (max-width: 768px) {
    .headerCardContainer {
        padding-top: 56px;
    }
}