.header {
    min-height: 1043px;
    background-image: url("./img/header-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.navBarContainer {
    margin-top: 0;
}

.headerCardContainer {
    margin-top: 106px;
}

.devicesContainer {
    margin-top: 20px;

}