.header {
    min-height: 1043px;
    background-image: url("./img/header-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navBarContainer {
    margin-top: 0;
    padding: 0 8px;
}

.headerCardContainer {
    padding-top: 106px;
}

.scrollDown {
    width: 70px;
    height: 70px;
    background-image: url("./img/scrool-down.png");
    position: absolute;
    bottom: -35px;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 3;
}

.scrollDown:hover {
    bottom: -45px;
}

@media screen and (max-width: 768px) {
    .headerCardContainer {
        padding-top: 56px;
    }
}