.header {
    max-width: 1920px;
    height: 1043px;
    background-image: url("./img/header-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.headerCardContainer {
    margin-top: 106px;
}