.pricingPlanContainer {
    max-width: 330px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 15px;
}

.pricingPlanHeader {
    font-family: Quicksand, serif;
    font-size: 32px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: #333333;
}

.pricingPlanText {
    font-family: Quicksand, serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    color: #929292;
}

.pricingPlanButtonField {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.monthlyButton,
.yearlyButton {
    height: 50px;
    width: 165px;
    font-family: Quicksand, serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
}

.monthlyButton {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yearlyButton {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 389px) {
    .monthlyButton,
    .yearlyButton {
        width: 144px;
    }
}