.footerContainer {
    padding: 10px 10px;
    min-height: 105px;
    border-top: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #0f7bff;
    color: white;
}

.footerContent {
    max-width: 1140px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.footerCopyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.rightSide {
    max-width: 544px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.footerLinksContainer {
    max-width: 348px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footerLinksContainer a {
     color: #d8d8d8;
}

.footerLinksContainer a:hover {
    color: white;
}

.footerSocialContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.footerSocialContainer img {
    margin-right: 8px;
}

@media screen and (max-width: 1024px){
    .footerContent {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 20px;
    }

    .rightSide {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
}

@media screen and (max-width: 425px){
    .footerLinksContainer {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
}