.navBar {
    min-height: 100px;
    max-width: 1640px;
    margin: 0 auto;
    padding: 0!important;
    background: none;
}

.logo {
    display: flex;
    width: 179px;
    height: 100px;
    margin: 0;
    background-color: #0f7bff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    align-items: center;
    justify-content: center;
}

.logo p {
    font-family: Quicksand, serif;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.67;
    letter-spacing: normal;
    color: #feffff;
}

.navMenu {
    margin: 0 0 0 auto;
}

.link {
    display: flex;
    font-family: Quicksand, serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    justify-content: flex-end;
    color: #ffffff;
    margin-left: 25px;
}

.signUpButtonContainer{
    display: flex;
    justify-content: flex-end;
}

.signUpButton {
    margin-left: 53px;
    width: 165px;
    height: 50px;
    border-radius: 25px !important;
    background-color: #0063dd !important;

    font-family: Quicksand, serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}