.caruselContainer {
    background-color: #f5fcfd;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.caruselField {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.caruselHeader {
    margin-bottom: 44px;
    font-family: Quicksand, serif;
    font-size: 32px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: #333333;
}

.caruselImg {
    width: 752px;
    height: 608px;
    margin-right: 127px;
}

.caruselItemsField {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.viewField {
    width: 1900px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.caruselButton input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.caruselButtonField {
    margin-top: 50px;
}

.caruselButton div {
    width: 20px;
    height: 10px;
    background-color: #d4d4d4;
    margin-right: 10px;
    border-radius: 10px;
    transition: width 0.5s;
}

.caruselButton div:hover {
    width: 30px;
    background-color: #0f7bff;
    transition: width 0.5s;
}

.caruselButton input:checked + div {
    width: 30px;
    background-color: #0f7bff;
    transition: width 0.5s;
}

@media screen and (max-width: 1260px){
    .caruselImg {
        display: none;
    }

    .caruselField {
        align-items: center;
    }

    .caruselItemsField {
        margin-left: 50%;
    }
}






